:root {
    --purple: #E65AE2;
    --darker-purple: #833686;
    --black: #000000;
    --header: #070911;
    --hero-sub: #cdcdcfd4;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--black);
    font-family: 'Lato', sans-serif;
}


/*Header*/
header {
    width: 80%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--header);
    padding: 1rem;
    margin: 2rem auto;
    position: fixed;
    inset: 0;
}
header span {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.25rem;
}
header hr {
    border: 1px solid white;
    width: 20px;
}

/*Header*/
.hero {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/image/download\ \(4\).jfif");
    background-size: cover;
    background-position: center;
}
.center {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}
.hero p {
    font-size: 14px;
    color: var(--hero-sub);
}
.hero h1 {
    font-size: 32px;
    color: white;
}
.color {
    color: var(--purple);
}
.hero button {
    height: 36px;
    width: 244px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    border: none;
}

/*About*/
.about {
    margin: 2rem 0;
    color: white;
    padding: 3.5rem 1rem;
}
.about span {
    text-align: center;
}
.QAs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    margin-top: 2rem;
}
.QA {
    border: 1px solid var(--darker-purple);
    padding: 1rem;
    border-radius: 16px;
}
.Q {
    font-size: 14px;
    
}
.A {
    font-size: 12px;
    color: var(--hero-sub);
}
.QA-icon {
    width: 20px;
    height: 20px;
    border: 1px solid var(--darker-purple);
    border-radius: 16px;
}
.about-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    justify-content: space-between;
}
/*stack*/
.stacks {
    color: white;
    border: 1px solid var(--darker-purple);
    margin: 1rem;
    padding: 1rem;
}
.stacks-title {
    text-align: center;
}
.stack-img {
    width: 35px;
    height: 35px;
}
.stack-img img {
    width: 100%;
    height: 100%;
}
.stack {
    border: 1px solid var(--darker-purple);
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}
.stack-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    border-radius: 12px;
    padding: 2rem;
}
.stack p {
    font-size: 12px;
}

/*Projects*/
.project {
    color: white;
    padding: 2rem 0;
    background-color: #270a28;
    margin: 4rem 0;
}
.project-section-title {
    text-align: center;
}
.project-cover {
    width: 100%;
    margin: 1rem 0;   
}
.project-cover img {
    width: 100%;
    height: 100%;
}
.project-stack-img {
    width: 23px;
    height: 23px;
}
.project-stack-img img {
    width: 100%;
    height: 100%;
}
.project-card span p:first-of-type {
    font-size: 18px;
}
.project-card span p:last-of-type {
    font-size: 12px;
    margin-top: 0.5rem;
}
.project-card {
    margin: 1.5rem;
    background-color: #070A12;
    border: 1px solid #0F1119;
    padding: 1rem;
    border-radius: 24px;
}
.project-card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project-card button {
    padding: 3px 23px;
    border-radius: 5px;
    border: none;
}
.stack-used {
    display: flex;
    gap: 1rem;
    width: 60%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.project-stack-img {
    flex: 0 0 auto;
}
/*reach out*/
.reach-out {
    color: white;
    padding: 4rem 2rem;
}
.reach-section p {
    text-align: center;
}
.step-card {
    border: 1px solid var(--darker-purple);
    border-radius: 24px;
    padding: 2rem;
    margin: 2rem 0;
}
.step-card span {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
}
.plugin {
    width: 130px;
    height: 80px;
    border: 1px solid;
    margin: 0 auto;
}
.w {
    font-size: 24px;
    font-weight: bold;
    line-height: 2rem;
}
.des {
    font-size: 12px;
    color: var(--hero-sub);
}
/*footer*/

footer {
    height: calc(100dvh - 68px);
    background-color: black;
    color: white;
    padding: 4rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20%;
}
footer h2 {
    font-size: 36px;
    font-weight: lighter;
}
.reach {
    color: var(--hero-sub);
    
}
footer a {
    color: var(--hero-sub);
}
footer a, footer p {
    font-size: 16px;
}
footer hr {
    border: 1px solid var(--hero-sub);
    width: 100%
}
.copywrite {
    color: var(--purple);
    font-size: 14px;
    font-weight: 100;
}
.contact-me {
    background-color: var(--darker-purple);
    border-radius: 12px;
    height: 46px;
    width: 178px;
    color: white;
    border: none;
}
.footer-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer-contact a {
    margin: 1rem;
}
.footer-span-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
}
.footer-span-2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}